.tag {
  border-radius: 5px;
  font: 700 12px/12px Poppins;
  color: white;
  padding: 5px 10px;
}

.purple {
  background-color: #5e208e;
}

.pink {
  background-color: #ff0059;
}

.gray {
  background-color: gray;
}
