a {
  text-decoration: none;
  color: white;
  text-align: start;
}

.element-div {
  border: solid 1px #9b8ea5;
  color: #85798f;
  background-color: #dedede;
  padding-left: 10px;
  border-radius: 4px;
  height: 35px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 4px;
  align-items: center;

  p {
    font: 600 14px/14px "Open Sans";
  }
}
