.home-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-container-header {
  height: 150px;
  h1 {
    font: 700 20px/24px Poppins;
  }
}

.where-to {
  display: flex;

  .where-to-title {
    padding-left: 200px;
  }

  .features-grid {
    height: 300px;
  }
}

.footer {
  height: 180px;
  display: flex;
  font: 14px/17px "Open Sans";
  color: #020202d5;

  .latest-features {
    width: 50%;
  }
  .next-features {
    width: 50%;
  }
}
