.home-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-container-header {
  height: 200px;

  h1 {
    font: 700 20px/24px Poppins;
  }
}

.where-to {
  display: flex;

  .where-to-title {
    padding-left: 200px;
  }

  .features-grid {
    flex-grow: 1;
  }
}

.footer {
  height: 200px;
  display: flex;

  .latest-features {
    width: 50%;
  }
  .next-features {
    width: 50%;
  }
}
