@import "../../assets/variables.module";

.country-details-container {
  height: 100%;
  position: relative;
}

.container-header {
  height: 30%;
  display: flex;
  justify-content: space-between;

  .goBackIconDiv {
    margin: 30px 30px;
    cursor: pointer;
  }
}

.country-summary {
  position: relative;
  color: white;
  font: 700 20px/24px Poppins;
}

.country-title {
  background-color: gray;
  width: 400px;
  border-radius: 2px 15px 2px 2px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.australia {
  background-color: $australiaBkg;
}

.canada {
  background-color: $canadaBkg;
}

.ireland {
  background-color: $irelandBkg;
}

.south-africa {
  background-color: $southAfricaBkg;
}

.usa {
  background-color: $usaBkg;
}

.card-container {
  height: 250px;
  display: flex;
  justify-content: space-evenly;
}

.container-footer {
  position: absolute;
  bottom: 0;
}
